.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid gray;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1.5s linear infinite;
  margin: 0 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

textarea:focus,
select:focus,
input:focus {
  border: none;
  --tw-ring-color: rgb(194, 194, 194) !important;
}

.bg {
  position: relative;
  background-image: url("/images/minimalism2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
