.active {
  @apply text-blue-400;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
}

nz-header {
  background: #b7b7b7;
  padding: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
.inner-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
